<p-card [header]="isEditMode ? 'Editar Doença' : 'Cadastro de Doença'" class="card">
  <form [formGroup]="cadastroForm" (ngSubmit)="onSubmit()" class="p-fluid">

    <!-- NOME -->
    <div class="p-field col-12 md:col-6">
      <label for="nome" class="block mb-2">
        <b class="text-red-600 mr-1">*</b> Nome
      </label>
      <input
        id="nome"
        pInputText
        formControlName="nome"
        [class.p-invalid]="nome.invalid && (nome.dirty || nome.touched)"
        class="w-full"
      />
      @if (nome.invalid && (nome.dirty || nome.touched)) {
        <small class="p-error block mt-1">
          Nome é obrigatório.
        </small>
      }
    </div>

    <!-- BOTÕES -->
    <div class="col-12 flex gap-2 justify-end mt-4">
      <button
        pButton
        type="button"
        label="Cancelar"
        icon="pi pi-times"
        class="p-button-secondary"
        (click)="cancelar()"
      ></button>

      <button
        pButton
        type="submit"
        [label]="isEditMode ? 'Atualizar' : 'Salvar'"
        icon="pi pi-check"
        [disabled]="cadastroForm.invalid"
      ></button>
    </div>

  </form>
</p-card>

<p-toast />
