<p-card header="Listagem de Pacientes">
  <app-universal-datatable
    entity="paciente"
    CreateLabel="Cadastrar Paciente"
    [rows]="10"
    [columns]="columns"
    (onEdit)="editarPaciente($event)"
    (onDelete)="excluirPaciente($event)"
    (onCreate)="redirectToCadastro()"
    [includeInactive]="false"
    [customActionButtons]="customActionButtons">

    <ng-template #bodyTemplate let-item="item" let-column="column">
      @switch (column.field) {
        @default {
          {{ getNestedValue(item, column.field) }}
        }
      }
    </ng-template>

  </app-universal-datatable>
</p-card>

<p-toast />
<p-confirmDialog />
