<p-card header="Riscos Cirúrgicos">
  <app-universal-datatable
    entity="risco-cirurgico"
    CreateLabel="Cadastrar Risco Cirúrgico"
    [columns]="columns"
    [showEditAction]="true"
    [showDeleteAction]="true"
    (onCreate)="redirectToCreate()"
    (onEdit)="editar($event)"
    (onDelete)="excluir($event)">

    <ng-template #bodyTemplate let-rowData let-column="column">
      <ng-container [ngSwitch]="column.field">
        <span *ngSwitchDefault>
          {{ rowData[column.field] }}
        </span>
      </ng-container>
    </ng-template>

  </app-universal-datatable>
</p-card>

<p-toast></p-toast>
<p-confirmDialog></p-confirmDialog>
